/* Base elements */
* {
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

/* ID Selectors */
#search {
  margin: 20px 0;
  border-radius: 4px;
  width: 35%;
  border-color: #d8d8d8;
  padding: 5px 0 5px 5px;
  font-family: sans-serif;
  border-style: solid;
}

#search:focus {
  color: grey;
  font-family: sans-serif;
  outline: 0;
}
/* Class Selectors */

.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-item {
  flex: 1 100%;
  margin-bottom: 40px;
}

::placeholder {
  color: grey;
}

.lb-data .lb-caption {
  font-size: 18px;
}
.lb-nav a.lb-prev, .lb-nav a.lb-next{
  width: 40%;
}
/* Media Queries */

@media (min-width: 768px) {
  .img-item {
    flex: 1 33%;
  }
}

@media (min-width:1024px) {
  .img-item {
    flex: 1 25%;
  }
}
